.terms {
  background-color: rgb(10, 10, 10);
  .termsContent {
    padding: 64px 16px;
    .containerWrapper {
      padding: 24px;
      background-color: oklab(0.795 0.0126846 0.183562 / 0.1);
      border: 1px solid oklab(0.795 0.0126846 0.183562 / 0.2);
      border-radius: 16px;
      svg {
        width: 24px;
        height: 24px;
      }
      p {
        color: oklab(0.905 -0.0256786 0.180179 / 0.8);
      }
    }
    a {
      padding-right: 44px;
    }
  }
}

@media (min-width: 768px) {
  .terms {
    .termsContent {
      padding: 64px 24px;
    }
  }
}

@media (min-width: 1024px) {
  .terms {
    .termsContent {
      margin: 0 64px;
      padding: 64px 32px;
    }
  }
}

@media (min-width: 1440px) {
  .terms {
    .termsContent {
      margin: 0 272px;
    }
  }
}
