.BlogImageWrapper {
  min-height: 500px;
  height: 60vh;
  overflow: hidden;
  .shadowOverlay {
    inset: 0;
    background: linear-gradient(
      to top,
      oklab(0 0 0 / 0.6) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .BlogBadge {
    top: 32px;
    right: 32px;
    .BlogBadgeNav {
      padding: 8px 16px;
      backdrop-filter: blur(12px);
      background-color: oklab(0 0 0 / 0.3);
      border: 1px solid oklab(0.999994 0.0000455678 0.0000200868 / 0.1);
      border-radius: 16px;
      i {
        color: oklab(0.999994 0.0000455677 0.0000200868 / 0.7);
        transition: all 0.3s ease-in-out;
      }
      a {
        color: oklab(0.999994 0.0000455677 0.0000200868 / 0.7);
        transition: all 0.3s ease-in-out;
        &:hover {
          color: white;
          i {
            color: white;
          }
        }
      }
    }
  }
  .BlogContentWrapper {
    padding: 32px;
    .BlogContent {
      .BlogCategoryBadge {
        padding: 8px 16px;
        background-color: var(--color-orange-500);
        border-radius: 16px;
        width: fit-content;
      }
      .BlogAuthorCard {
        padding: 16px;
        background-color: oklab(0.999994 0.0000455678 0.0000200868 / 0.05);
        border: 1px solid oklab(0.999994 0.0000455678 0.0000200868 / 0.1);
        backdrop-filter: blur(12px);
        border-radius: 16px;
        width: fit-content;
        .BlogAuthorAvatarImage {
          width: 56px;
          height: 56px;
          border: 2px solid var(--color-orange-500);
          border-radius: 50%;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .BlogImageWrapper {
    .BlogContentWrapper {
      padding: 48px;
    }
  }
}

@media (min-width: 1440px) {
  .BlogImageWrapper {
    .BlogContentWrapper {
      margin: 0 160px;
    }
  }
}
