.authorCard {
  width: 299px;
  height: 250px;
  background-color: rgb(22, 22, 22);
  border: 1px solid rgb(38, 38, 38);
  padding: 24px;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
  &:hover {
    border-color: var(--color-orange-500);
    .authorAvatar {
      border-color: var(--color-orange-500);
    }
  }
  .authorAvatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 5px solid rgb(38, 38, 38);
    margin-bottom: 16px;
    transition: all 0.3s ease-in-out;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    .badgeCheck {
      width: 20px;
      height: 20px;
      border: 2px solid rgb(22, 22, 22);
      right: -6px;
      i {
        font-size: 10px;
      }
    }
  }
  .authorLinks {
    .authorLinkIcon {
      width: 36px;
      height: 36px;
      border-radius: 8px;
      background-color: rgb(38, 38, 38);
      i {
        color: var(--color-neutral-500);
        font-size: 16px;
      }
      transition: all 0.3s ease-in-out;
      &:hover {
        i {
          color: var(--color-white);
        }
      }
    }
    .twitter:hover {
      background-color: var(--color-orange-500);
    }
    .github:hover {
      background-color: var(--color-neutral-700);
    }
    .linkedIn:hover {
      background-color: var(--color-blue-600);
    }
  }
}
