.BlogContentLinks {
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 8px;
  transition: all 0.3s ease-in-out;
  color: var(--color-neutral-400);
  .numberWrapper {
    width: 24px;
    height: 24px;
    background-color: rgb(26, 26, 26);
    border: 1px solid transparent;
    border-radius: 8px;
  }
  &:hover {
    color: var(--color-orange-500);
    background-color: oklab(0.705 0.143615 0.157301 / 0.05);
    border-color: oklab(0.705 0.143615 0.157301 / 0.05);
    .numberWrapper {
      background-color: oklab(0.705 0.143615 0.157301 / 0.05);
    }
  }
}
