.cardHero {
  padding: 16px;
  width: 120px;
  height: 113px;
  background-color: rgba(22, 22, 22, 0.8);
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  & > div {
    font-size: 25px;
  }
  span {
    background: linear-gradient(135deg, rgb(249, 115, 22), rgb(251, 191, 36));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .cardHero {
    width: 156px;
    height: 118px;
  }
}
