.hero {
  background-color: rgb(10, 10, 10);
  overflow: hidden;
  .custome1 {
    filter: blur(64px);
    background: oklab(0.705 0.143615 0.157301 / 0.08);
    left: 40px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .custome2 {
    filter: blur(64px);
    background: oklab(0.795 0.0126846 0.183562 / 0.08);
    right: 40px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .heroGrid {
    inset: 0;
    background-image:
      linear-gradient(rgba(38, 38, 38, 0.5) 1px, transparent 1px),
      linear-gradient(90deg, rgba(38, 38, 38, 0.5) 1px, transparent 1px);
    background-size: 60px 60px;
  }
  .heroContent {
    padding: 80px 16px;
    a {
      transition: all 0.3s ease-in-out;
      &:hover {
        color: white;
      }
    }
    .iconWrapper {
      width: 64px;
      height: 64px;
      background-color: oklab(0.705 0.143615 0.157301 / 0.1);
      backdrop-filter: blur(8px);
      border-radius: 16px;
      border: 1px solid oklab(0.705 0.143615 0.157301 / 0.3);
      margin-bottom: 24px;
      svg {
        width: 32px;
        height: 32px;
      }
    }
    h1 {
      margin-bottom: 24px;
      font-size: 36px;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    .custome1 {
      left: 10px;
      width: 384px;
      height: 384px;
    }
    .custome2 {
      right: 10px;
      width: 384px;
      height: 384px;
    }
    .heroContent {
      padding: 80px 24px;
      h1 {
        font-size: 48px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    .custome1 {
      left: 80px;
    }
    .custome2 {
      right: 80px;
    }
    .heroContent {
      margin: 80px 64px;
      padding: 0 32px;
    }
  }
}

@media (min-width: 1440px) {
  .hero {
    .custome1 {
      left: 147px;
    }
    .custome2 {
      right: 273px;
    }
  }
}
