.ArticleContent {
  margin-top: 56px;
  .ArticleContentWrapper {
    width: 40px;
    height: 40px;
    background-color: oklab(0.705 0.143615 0.157301 / 0.1);
    border: 1px solid oklab(0.705 0.143615 0.157301 / 0.3);
    border-radius: 12px;
    i {
      font-size: 30px;
    }
  }
}
