.footer {
  background-color: rgb(10, 10, 10);
  border-top: 0.8px solid rgb(38, 38, 38);
  overflow: hidden;
  .custome1 {
    filter: blur(64px);
    background: oklab(0.705 0.143615 0.157301 / 0.05);
    left: 147px;
    width: 384px;
    height: 384px;
    border-radius: 50%;
    pointer-events: none;
  }
  .custome2 {
    filter: blur(64px);
    background: oklab(0.795 0.0126846 0.183562 / 0.05);
    right: 273px;
    width: 384px;
    height: 384px;
    border-radius: 50%;
    pointer-events: none;
  }
  .first-section {
    padding: 64px 16px;
    .social-links {
      & > a {
        width: 40px;
        height: 40px;
        background-color: rgb(22, 22, 22);
        border: 1px solid rgb(38, 38, 38);
        border-radius: 12px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        i {
          font-size: 20px;
          color: oklch(0.556 0 0);
        }
        &:hover {
          background: linear-gradient(
            to right bottom,
            oklch(0.705 0.213 47.604) 0%,
            oklch(0.646 0.222 41.116) 100%
          );
          i {
            color: white;
          }
          transform: scale(1.1);
        }
      }
    }
    .footer-title {
      .footer-title-line {
        background: linear-gradient(
          to right,
          oklch(0.705 0.213 47.604) 0%,
          oklch(0.795 0.184 86.047) 100%
        );
        width: 32px;
        height: 2px;
      }
    }
    ul {
      overflow: hidden;
      li {
        position: relative;
        padding-right: 15px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &::before {
          content: "\f053";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 12px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          opacity: 0;
          color: var(--color-orange-500);
        }
        &:hover {
          transform: translateX(-15px);
          a {
            color: var(--color-orange-500);
          }
          &::before {
            opacity: 1;
            transform: translateY(-50%);
            right: -4px;
          }
        }
      }
    }
    .form-control {
      background-color: rgb(22, 22, 22);
      border: 1px solid rgb(38, 38, 38);
      border-radius: 12px;
      padding: 12px 16px;
      &::placeholder {
        color: rgb(255, 255, 255);
        opacity: 0.2;
        font-size: 14px;
      }
      &:focus {
        border-color: var(--color-orange-500);
        box-shadow: none;
      }
    }
  }
  .second-section {
    padding: 24px 16px;
    border-top: 0.8px solid rgb(38, 38, 38);
    a {
      transition: all 0.3s ease-in-out;
      &:hover {
        color: var(--color-orange-500);
      }
    }
  }
}
@media (min-width: 1024px) {
  .footer {
    .first-section {
      margin: 0 80px;
      padding: 64px 32px;
    }
    .second-section {
      margin: 0 80px;
      padding: 24px 32px;
    }
  }
}
