.categoryBadge {
  padding: 8px 16px;
  background-color: rgb(22, 22, 22);
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;
  cursor: pointer;
  span {
    color: var(--color-neutral-400);
  }
  &:hover {
    border-color: oklch(70.5% 0.213 47.604/0.3);
  }
}

.active {
  background: linear-gradient(
    to right,
    oklch(0.705 0.213 47.604) 0%,
    oklch(0.646 0.222 41.116) 100%
  );
  span {
    color: white;
  }
}
