.blogCard {
  border: 1px solid rgb(38, 38, 38);
  background-color: rgb(22, 22, 22);
  height: 470px;
  border-radius: 24px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(-3px);
    .blogCardImage {
      .shadowOverlay {
        opacity: 1;
        z-index: 2;
      }
      img {
        transform: scale(1.1);
      }
    }

    .blogCardContent {
      h3 {
        color: var(--color-orange-500);
      }
      .blogCardFooter {
        .blogCardIcon {
          background-color: var(--color-orange-500);
          i {
            color: white;
          }
        }
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
  .blogCardImage {
    overflow: hidden;
    .shadowOverlay {
      opacity: 0;
      inset: 0;
      background: linear-gradient(
        to top,
        oklab(0 0 0 / 0.6) 0%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0) 100%
      );
      transition: all 0.3s ease-in-out;
    }
    .blogCardBadge {
      z-index: 1;
      padding: 4px 12px;
      background-color: rgba(10, 10, 10, 0.8);
      border-radius: 16px;
      border: 1px solid rgb(51, 51, 51);
      backdrop-filter: blur(8px);
      top: 16px;
      right: 16px;
    }
  }
  .blogCardContent {
    padding: 24px;
    h3 {
      transition: all 0.3s ease-in-out;
    }
    .blogCardAvatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 2px solid rgb(38, 38, 38);
    }
    .blogCardFooter {
      border-top: 1px solid rgb(38, 38, 38);
      .blogCardIcon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: oklab(0.705 0.143615 0.157301 / 0.1);
        border: 1px solid oklab(0.705 0.143615 0.157301 / 0.2);
        transition: all 0.3s ease-in-out;
        i {
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
