.specialBlogCard {
  padding: 0 !important;
  background-color: rgb(22, 22, 22);
  border-radius: 24px;
  border: 1px solid rgb(38, 38, 38);
  margin-bottom: 32px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    border-color: var(--color-orange-400);
    h2 {
      color: var(--color-orange-500);
    }
    .arrow {
      transform: translateX(-3px);
    }
    .specialBlogImg {
      .shadowOverlay {
        opacity: 1;
        z-index: 2;
      }
      img {
        transform: scale(1.1);
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
  .specialBlogImg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .shadowOverlay {
      transition: all 0.3s ease-in-out;
      inset: 0;
      opacity: 0;
      background: linear-gradient(
        to top,
        oklab(0 0 0 / 0.5) 0%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0) 100%
      );
    }
    .speacialBadge {
      z-index: 1000;
      padding: 6px 12px;
      background: linear-gradient(
        to right,
        oklch(0.705 0.213 47.604) 0%,
        oklch(0.795 0.184 86.047) 100%
      );
      border-radius: 16px;
      top: 16px;
      right: 16px;
    }
  }
  .specialBlogContent {
    padding: 40px;
    .specialBlogBadge {
      padding: 4px 12px;
      background-color: oklab(0.705 0.143615 0.157301 / 0.1);
      border: 0.8px solid oklab(0.705 0.143615 0.157301 / 0.2);
      border-radius: 15px;
    }
    h2 {
      transition: all 0.3s ease-in-out;
    }
  }
  .specialBlogAvatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid rgb(38, 38, 38);
    .dotWrapper {
      width: 16px;
      height: 16px;
      border: 1.6px solid black;
      border-radius: 50%;
      bottom: -4px;
      left: -3px;
      .dot {
        width: 100%;
        height: 100%;
        background-color: var(--color-orange-500);
        border-radius: 50%;
      }
    }
  }
  .arrow {
    transition: all 0.3s ease-in-out;
  }
}
