.joinUsForm {
  z-index: 2;
  width: 288px;
  height: 100%;
  padding: 32px;
  background-color: rgb(22, 22, 22);
  border: 1px solid rgb(38, 38, 38);
  border-radius: 24px;
  .joinUsIcon {
    width: 64px;
    height: 64px;
    background-color: var(--color-orange-500);
    margin-bottom: 24px;
    border-radius: 16px;
    i {
      font-size: 32px;
      color: white;
    }
  }
  h2 {
    margin-bottom: 16px;
    font-size: 30px;
    span {
      background: linear-gradient(135deg, rgb(249, 115, 22), rgb(251, 191, 36));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  p {
    margin-bottom: 32px;
    width: 85%;
  }
  form {
    width: 100%;
    margin-bottom: 24px;
    .formInput {
      padding: 16px 20px;
      background-color: rgb(10, 10, 10);
      border: 1px solid rgb(38, 38, 38);
      border-radius: 12px;
      &::placeholder {
        color: var(--color-neutral-500);
      }
      &:focus {
        border-color: var(--color-orange-500);
        box-shadow: none;
      }
    }
    .joinUsBtn {
      padding: 16px 32px;
      border-radius: 12px;
      background: linear-gradient(
        to right,
        oklch(0.705 0.213 47.604) 0%,
        oklch(0.646 0.222 41.116) 100%
      );
    }
  }
  .authorImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

@media (min-width: 768px) {
  .joinUsForm {
    width: 720px;
    height: 415px;
    padding: 48px;
    h2 {
      font-size: 36px;
    }
    p {
      width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .joinUsForm {
    width: 832px;
    height: 447px;
    padding: 64px;
  }
}
